@model List<Question>
@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <div class="jumbotron">
        <h2 class="display-4">Welcome!</h2>
        <form asp-controller="Game" asp-action="StartQuiz" method="get">
            <button type="submit" class="btn btn-success">Start Quiz</button>
        </form>
    </div>
</div>