@using QuizApp.Entities
@{
    ViewData["Title"] = "Home Page";
}
@model List<Question>

<div class="container mt-5">
    <div class="container">
    <h2>Welcome!</h2>
    <form asp-controller="Game" asp-action="StartQuiz" method="get">
        <button type="submit" class="btn btn-success">Start Quiz</button>
    </form>
    </div>
</div>