@model List<Question>
@{
    ViewData["Title"] = "Quiz";
}

<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card card-custom-dark">
                <div class="card-body">
                    <h2 class="text-center">Quiz</h2>
                    <form asp-controller="Game" asp-action="SubmitQuiz" method="post">
                        <p class="text-muted text-center mt-4 mb-4">Score a minimum of 50% to pass</p>
                        <div class="form-group">
                            <input type="text" name="PlayerUsername" placeholder="Username" class="input-custom-dark form-control text-light">
                        </div>
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            <div class="border rounded p-4 mt-4 mb-4">
                                <h4>@Model[i].QuestionText</h4>
                                @foreach (var answer in Model[i].Answers)
                                {
                                    <div class="form-check mb-3 mt-3">
                                        <input type="radio" name="SelectedAnswerIds[@i]" class="form-check-input" id="answer@(answer.Id)" value="@answer.Id">
                                        <label class="form-check-label" for="answer@(answer.Id)">@answer.AnswerText</label>
                                    </div>
                                }
                            </div>
                        }
                        <button type="submit" class="btn-custom-dark mt-3">Submit Quiz</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>