@{
    ViewData["Title"] = "Result";
}
@model List<Question>

<div class="container mt-5">
    <h2>Welcome!</h2>
    <div class="container">
        <form asp-controller="Game" asp-action="StartQuiz" method="get">
            <button type="submit" class="btn btn-success">Start Quizა</button>
        </form>
    </div>
</div>