@{
    ViewData["Title"] = "Result";
}
@model ResultModel

<div class="container mt-5">
    <div class="container">
        <h1>@(Model.PlayerUsername), you got a score of @(Model.Score)</h1>

        @if (Model.IsWon)
        {
            <h1>Well done!</h1>
        }
        else
        {
            <h1>Try again?</h1>
        }

        <form asp-controller="Game" asp-action="StartQuiz" method="get">
            <button type="submit" class="btn btn-success">Restart Quiz</button>
        </form>
    </div>
</div>