@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h2 class="text-danger mb-4">Oops! Something went wrong</h2>
            <p class="text-muted"><strong>@Model.RequestId</strong></p>
            <p class="text-muted mb-4">Error Message: <strong>@Model.Message</strong></p>
            <a href="/" class="btn btn-primary">Go back</a>
        </div>
    </div>
</div>