@{
    ViewData["Title"] = "Add Player";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card card-custom-dark text-center">
                <h2>Add Player</h2>
                <form asp-controller="Player" asp-action="AddPlayer" method="post">
                    <div class="form-group mt-3">
                        <input type="text" name="Username" placeholder="Username" class="input-custom-dark form-control text-light mb-3">
                    </div>
                    <button type="submit" class="btn-custom-dark">Add Player</button>
                </form>
            </div>
        </div>
    </div>
</div>