@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="container mt-5">
    <div class="card card-custom-dark">
        <div class="card-body text-center">
            <h2 class="text-danger mb-4">An error occured</h2>
            <p class="text-muted"><strong>Error ID:</strong> @Model.RequestId</p>
            <p class="text-muted"><strong>Error Message:</strong> @Model.Message</p>
            <form asp-controller="Home" asp-action="Index" method="get">
                <button type="submit" class="btn-custom-dark mt-3">Home Page</button>
            </form>
        </div>
    </div>
</div>