@model ResultViewModel
@{
    ViewData["Title"] = "Result";
}

<div class="container mt-5">
    <div class="card card-custom-dark">
        <div class="card-body text-center">
            <h2 class="mb-4">Quiz Results</h2>
            <h4 class="mb-4">Total score: @Model.Score% (@Model.CorrectAnswersCount/@Model.QuestionsCount)</h4>
            <form asp-controller="Game" asp-action="StartQuiz" method="get">
                <button type="submit" class="btn-custom-dark">Restart Quiz</button>
            </form>
        </div>
    </div>
</div>