@{
    ViewData["Title"] = "Add Question";
}

<div class="container">
    <div class="col-md-15">
        <div class="question-container">
            <h2 class="mb-4">Add Question</h2>
            <form asp-controller="Question" asp-action="AddQuestion" method="post">
                <div class="form-group">
                    <label for="questionText">Question:</label>
                    <input type="text" id="questionText" name="Question.QuestionText" class="form-control mb-3" />
                </div>
                <h3 class="mb-3">Answers</h3>
                @for (var i = 0; i < 4; i++)
                {
                    <div class="form-check">
                        <input type="radio" name="CorrectAnswerIndex" class="form-check-input" value="@i" />
                        <input type="text" name="Question.Answers[@i].AnswerText" class="form-control mb-2" placeholder="Answer @(i+1)" />
                    </div>
                }
                <button type="submit" class="btn btn-primary">Add Question</button>
            </form>
        </div>
    </div>
</div>