@{
    ViewData["Title"] = "Add Question";
}

<div class="col-md-6">
    <div class="question-container">
        <h2>Add Question</h2>
        <form asp-controller="Question" asp-action="AddQuestion" method="post">
            <div class="form-group">
                <label>Question:</label>
                <input type="text" name="QuestionText" class="form-control" />
            </div>
            <h3>Answers</h3>
            @for (var i = 0; i < 4; i++)
            {
                <div class="form-check">
                    <input type="radio" name="correctAnswerIndex" value="@i" class="form-check-input"></input>
                    <input type="text" name="Answers[@i].AnswerText" class="form-control mb-2" />
                </div>
            }
            <button type="submit" class="btn btn-primary">Add Question</button>
        </form>
    </div>
</div>