@{
    ViewData["Title"] = "Add Question";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card card-custom-dark text-center">
                <h2>Add Question</h2>
                <form asp-controller="Question" asp-action="AddQuestion" method="post">
                    <div class="form-group mt-3">
                        <input type="text" name="QuestionText" placeholder="Question Text" class="input-custom-dark form-control text-light mb-3">
                    </div>
                    <h3>Answers</h3>
                    @for (var i = 0; i < 4; i++)
                    {
                        <div class="form-check mt-3 mb-3">
                            <input type="radio" name="CorrectAnswerIndex" class="input-custom-dark form-check-input mt-2" value="@i">
                            <input type="text" name="Answers[@i].AnswerText" class="input-custom-dark form-control text-light" placeholder="Answer @(i+1)">
                        </div>
                    }
                    <button type="submit" class="btn-custom-dark">Add Question</button>
                </form>
            </div>
        </div>
    </div>
</div>